#closed-chevron1 {
    position: relative;
    right: 1080px;
    bottom: 30px;
}

#open-chevron1 {
    position: relative;
    bottom: 454px;
    right: 1080px;
}
#open-chevron1:hover {
    cursor: pointer;
}
#closed-favIcon {
    position: relative;
    bottom: 30px;
    right: 100px;
    z-index: 1;
}
#closed-favIcon:hover {
    cursor: pointer;
}
#open-favIcon {
    position: relative;
    bottom: 450px;
    right: 109px;
    z-index: 1;
}
#open-favIcon:hover {
    cursor: pointer;
}
.bookmark-icon{
    z-index: 1;
}
.bookmark-icon:hover{
    cursor: pointer;
}

#subcard-text {
    position: relative;
    display: flex;
    left: 47px;
    bottom: 61px;
    font-size: 24px;
    font-family: 'Avenir-Black';
}

#closed-chevron1:hover {
    cursor: pointer;
}



#topics-text1 {
    position: relative;
}

#overview-text1 {
    position: relative;
}

.text-container {
    position: relative;
    bottom: 470px;
    left: 55px;
    width: 1032px;
    height: 40px;
    border-radius: 0px;
    border-width: 0.5px;
    border-bottom-width: 1px;
    background-color: white;
}

.text-detail {
    position: relative;
    right: 30px;
    font-family: 'Avenir-Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.text-heading {
    font-family: 'Avenir-Black';
    font-size: 16px;

    padding-top: 10px;
    padding-bottom: 2px;
}
.text-continue{
    top: 10px;
}
#expanded-header0 {
    position: relative;
    bottom: 487px;
    left: 53px;
    font-family: 'Avenir-Black';
    font-size: 24px;
}
#expanded-header1 {
    position: relative;
    bottom: 440px;
    left: 30px;
    font-family: 'Avenir-Black';
    color: green;
}
.bookmark-container{
    position: relative;
    bottom: 420px;
    left: 25px;
    width: 400px;
    height: 200ppx;
    display: flex;
    background: #CCFFB4;
}
.bookmark-detail{
    position: relative;
    bottom: 420px;
    left: 25px;
    width: 399px;
    border: 1px solid gray;
    display: flex;

}
#expanded-wrapper1 {
    height: 500px;
}

#bookmarkable-tab {
    position: relative;
    bottom: 10px;
}