#selection-card-image {
    position: relative;
    margin-bottom: 5px;
}

#selection-check-box {
    position: relative;
    right: 630px;
    bottom: 45px;
}

#card-text {
    position: relative;
    right: 625px;
    bottom: 51px;
    font-family: 'Avenir-Roman';
    font-size: 14px;
}