#selection-card-image {
    position: relative;
    margin-bottom: 5px;
}

#selection-check-box {
    position: relative;
    right: 630px;
    bottom: 45px;
}

#card-text {
    position: relative;
    right: 625px;
    bottom: 51px;
    font-family: 'Avenir-Roman';
    font-size: 14px;
}

/* input[type="checkbox"]#checkbox1:checked + span {
    border-color: lightgreen;
  background-color:lightgreen;
} */

#selection-check-box:checked {
    accent-color: lightgreen;
}
