#signup-form {
    position: fixed;
    left: 460px;
    top: 150px;
}

#create-account {
    position: fixed;
    left: 860px;
    top: 660px;
}

#create-account-button {
    padding: 15px;
    color: #FAFAF3;
    border-width: 0px;
    border-radius: 15px;
    transform: scale(0.5);
    background-color: white;
    position: relative;
    /* top: 50px; */
    bottom: 40px;
    right: 70px;
}

#create-account-button:hover {
    cursor: pointer;
}

#create-account-text-not-filled {
    position: realtive;
    bottom: 30px;
    color: #C3C8BB;
}

#create-account-text-filled {
    position: relative;
    bottom: 200px;
    color: green
}

#create-account-button-image {
    transform: scale(1.2);
}

#signup-forest-image {
    position: fixed;
    top: 350px;
}