#closed-chevron1 {
    position: relative;
    right: 1080px;
    bottom: 30px;
}

#subcard-text {
    position: relative;
    right: 1080px;
    bottom: 34px;
    font-size: 24px;
    font-family: 'Avenir-Black';

}