#mini-selectioncard-image {

}

#radio-check {
    position: relative;
    bottom: 42px;
    right: 300px;
    transform: scale(1.5);
    /* accent-color: 'lightgreen' */
}

input[type='radio'] {
    accent-color: lightgreen;
    border-color: white;
    border-radius: 1%;
}

#radio-check:checked {
    accent-color: 'lightgreen'
}

#mini-text {
    position: absolute;
    /* right: 290px; */
    left: 40px;
    bottom: 41px;
    font-family: 'Avenir-Roman'
}