#login-card-image {

}

#sign-in-text {
    position: relative;
    bottom: 230px;
    right: 400px;
    color: black;
    font-family: 'Avenir-Black';
    font-size: 30px;
}

#login-username {
    position: relative;
    bottom: 180px;
    left: 34px;
    padding: 10px;
    width: 330px;
}

#login-password {
    position: relative;
    bottom: 160px;
    left: 35px;
    padding: 10px;
    width: 330px;
    border-width: 1px;
    border-radius: 5px;
}

#sign-in-message {
    position: relative;
    bottom: 353px;
    left: 135px;
    color: green;
}

#username-text-login {
    position: relative;
    bottom: 180px;
    right: 500px;
    font-size: 18px;
    font-family: 'Avenir-Roman';
    color: #386667
}

#password-text-login {
    position: relative;
    left: 34px;
    bottom: 160px;
    font-size: 18px;
    font-family: 'Avenir-Roman';
    color: #386667

}



#loginscreen-button:hover {
    cursor: pointer;
}

#login-screen-button {
    position: relative;
    transform: scale(0.50);
    left: 290px;
    bottom: 230px;
    border-width: 0px;
    background-color: white;
}

#login-screen-button:hover {
    cursor: pointer;
}

#signup-lock-icon {
    position: relative;
    bottom: 187px;
    left: 360px;
}

#signup-password-lock:hover {
    cursor: pointer;
}