#option-text {
    position: relative;
    left: 3px;
    bottom: 1px;
    color: green
}

#option-check {
    outline: green;
    border-color: green;
}

#option-check:checked {
    accent-color: lightgreen;
}

.option-class {
    padding-bottom: 35px;
}