#confirm-message {
    position: fixed;
    top: 220px;
    left: 350px;
    font-family: 'Avenir-Roman'
}

#confirm-header {
    color: green
}

#confirm-text {
    position: relative;
    top: 15px;
}

#confirm-trees {
    position: fixed;
    top: 375px;

}