#landing-top-bar-component {
    background-color: #FDFDF6;
    height: 85px;
}

#sustainify-logo-image {
    position: relative;
    top: 25px;
    left: 60px;
}

#login-button {
    position: relative;
    left: 68%;
    top: 25px;
    transform: scale(0.60);
    border-width: 0px;
    background-color: #FDFDF6;
}

#login-button:hover {
    position: relative;
    left: 68%;
    top: 25px;
    transform: scale(0.60);
    border-width: 0px;
    cursor: pointer;
}


#signup-button {
    position: relative;
    left: 68%;
    top: 25px;
    transform: scale(0.60);
    border-width: 0px;
    background-color: #FDFDF6;
}

#signup-button:hover {
    position: relative;
    left: 68%;
    top: 25px;
    transform: scale(0.60);
    border-width: 0px;
    background-color: #FDFDF6;
    cursor: pointer;
}