#main-title {
    background-color: #FDFDF6;
}

#sustainify-logo {
    position: relative;
    overflow: hidden;
    top: 25%;
    left: 3%;
}

#login-logo {
    position: relative;
    left: 70%;
    top: 30%;
    transform: scale(0.30)
}

#signup-logo {
    position: relative;
    left: 70%;
    top: 31%;
    transform: scale(0.60)
}

#login-image {
    transform: scale(0.60)
}

#signup-image {
    transform: scale(0.60)
}