#forest-with-background {
    position: relative;
    right: 250px;
    top: 10px;
}

#forest-with-background-image {
    transform: scale(0.85)
}

#sustainify-text {
    position: relative;
    bottom: 370px;
    left: 675px;
    min-width: 3000px;
}

#sustainify-text-image {
    transform: scale(1.1);
}

#get-started-button {
    position: relative;
    bottom: 320px;
    left: 825px;
}

#get-started-button-image {
    transform: scale(0.875)
}

#landing-line {
    position: relative;
    bottom: 245px;
    left: 150px;
    
}

#landing-line-image {
    width: 1030px;
    border-top: 1px solid #538E3E;
}

#learn-act-track {
    position: relative;
    bottom: 200px;
    left: 420px;
}

#learn-act-track-image {
    transform: scale(1.05);
}