#forest-with-background-image {
    position: relative;
    transform: scale(0.9);
    right: 200px;
}

#sustainify-landing-text-image {
    position: relative;
    bottom: 380px;
    left: 800px;
}

#get-started-button {
    position: relative;
    bottom: 280px;
    left: 430px;
    transform: scale(0.80);
    background-color: #FDFDF6;
    border-width: 0px;
}

#get-started-button:hover {
    cursor: pointer;
}

#landing-line {
    position: relative;
    width: 1000px;
    bottom: 200px;
    left: 170px;
}

#learn-act-track-image {
    position: relative;
    left: 460px;
    bottom: 180px;
}

#landing-left-text {
    position: absolute;
    top: 625px;
    left: 200px;
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Avenir-Roman';
    font-size: 17px;
    color: #000000
}

#left-strong-text {
    position: relative;
    font-family: 'Avenir Black';
    font-size: 18px;
    top: 2px;
}

#right-landing-text {
    position: absolute;
    /* bottom: 347px; */
    top: 675px;
    left: 740px;
    /* font-size: 16px; */
    padding-bottom: 50px;
    font-family: 'Avenir-Roman';
    /* font-family: 'Avenir-Black'; */
    /* font-family: 'Times New Roman', Times, serif; */
}



#right-strong-text {
    font-size: 18px;
    font-family: 'Avenir-Black'
}

.strong-subtitle {
    font-size: 18px;
    font-family: 'Aventir-Black';
}

.landing-left-spacing {
    display: block;
    margin-bottom: 1em;
}

.left-text-styler {
    content: "";
    margin-bottom: 0.5em;
    display: block;
    /* font-size: 24%; */
  }

#left-text-mover {
    position: relative;
    top: 10px;
}