#login-form {
    position: fixed;
    left: 515px;
    top: 220px;
    transform: scale(0.90)
}

#to-login-button {
    position: relative;
    top: 420px;
    left: 800px;
    transform: scale(0.70);
    border-width: 0px;
    background-color: white;
    cursor: pointer;
}